* {
    box-sizing: border-box;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}

h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

.wrapper{
    display: block;
    margin-bottom: 75px;
}

.circle{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 10px;
    transition: margin 2s;
    background-color: #3cf;
}

.wrapper:hover .circle{
    margin-left: 400px;
}
.c1{

}
.c2{

}
.c3{
    background-color: #47dc80;

}
.c4{
    background-color: #f4e338;

}

.c5{
    background-color: #f98320;

}
.c6{
    background-color: #da2a79;

}