*{
    padding: 0;
    margin: 0;
}
body{
    background-color: F3F0F0;
    font-family: sans-serif ;
}
.header1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px 10px 80px;
    background-color: white ;
    
}
.header_login{
    text-decoration: none;
    font-weight: 600;
}
.header_login--user{
    margin-left: 15px;
}
.header_login a{
    color: #111111;
    font-size: 1rem;
    transition: 100ms ease-in;
    text-decoration: none;
}
.header_login a:hover{
    color:#828282;
}
h1{
    font-family: Time New Roman;
    font-weight: bold;
    font-size: 30px;
    color:#111111
   
}
 nav{
    background: #666666 ;
    list-style-type: none;
    text-align: center;
}
.menu li{
    color: white;
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
}
nav li a{
    color: white;
    font-weight: 100;
    font-size: 1.1rem;
    text-decoration: none;
}
.menu-1{
    pointer-events: none;
}
.menu-2, .menu-3, .menu-4{
    color: #dbdbdb;
    transition: 0.3s ease;
}
.menu-2:hover, .menu-3:hover, .menu-4:hover{
    color: white;
    text-decoration: underline #ffffff solid;
}
li.menu2-dropdown{
    display: inline-block;
    position: relative;
}
.menu2-dropdown_content{
    min-width: 220px;
    padding: 5px;
    background-color: #ffffff;
    margin-left: 28px;
    text-align: left;
    position: absolute;
    display: none;    
}
.menu2-dropdown_content a{
    color:rgb(87, 87, 87);
}
.menu2-dropdown_content a:hover{
    color:rgb(0, 0, 0);
}
.menu2-dropdown:hover .menu2-dropdown_content{
    display: block;
}

.banner img{
    width: 100%;
    margin-top: 5px;
}

main{
    padding: 30px 0;
    background-color:#F3F0F0;
}
.products{
    margin-left: 7px;
    /* text-align: center; */
}
.product{
    width: 330px;
    background-color: #ffffff;
    margin: 20px;
    padding-bottom: 20px;
    max-width: 330px;
   
}
.product a{
    text-decoration: none;
}
.product_img{
    width: 300px;
    height: 226px;
    margin-bottom: px;
}
.product_name{
    text-decoration: none;
    color: #111111;
    width: 300px;
    margin-top: 30px;
}
.product_price{
    font-weight: bold;
    color: #111111;
    font-weight: bold;
    margin-top: 20px;
}
.image_1{
    background-image: url('photo/asics-sky-elite-trang-cam.webp');
    background-size: 300px 226px;
    transition: 0.3s ease-in;
}
.image_1:hover{
    background-image: url('photo/ASICS-Sky-Elite-FF-MT-2-mens-volleyball-shoes-White-Deep-Ocean-1051A065.103-4.jpg');
    background-size: 300px 226px;
}
.image_2{
    background-image: url('photo/asics-nova-flow.webp');
    background-size: 300px 226px;
    transition: 0.3s ease-in;
}
.image_2:hover{
    background-image: url('photo/nova-flow.jpg');
    background-size: 300px 226px;
}
.image_3{
    background-image: url('photo/asics-v-swift-ff-mt-3.webp');
    background-size: 300px 226px;
    transition: 0.3s ease-in;
}
.image_3:hover{
    background-image: url('photo/v-swift-mt-3-do.jpg');
    background-size: 300px 226px;
}
.image_4{
   background-image: url('photo/mizuno-wave-lightning-z6.jpg');
   background-size: 300px 226px;
   transition: 0.3s ease-in;
}
.image_4:hover{
    background-image: url('photo/mizuno-z6.jpg');
    background-size: 300px 226px;
}
.image_5{
    background-image: url('photo/mizuno-wave-momentum-mid-2-2.jpg');
    background-size: 300px 226px;
    transition: 0.3s ease-in;
}
.image_5:hover{
    background-image: url('photo/mizuno-momentum-2.jpg');
    background-size: 300px 226px;
}
.image_6{
    background-image: url('photo/mizuno-wave-lightning-z7.jpg');
    background-size: 300px 226px;
    transition: 0.3s ease-in;
}
.image_6:hover{
    background-image: url('photo/mizuno-z7.jpg');
    background-size: 300px 226px;
}
.div_img{
    margin-left: 2px;
}
.img_clothes{
    width: 500px;
    margin: 20px 15px;
}
.img_clothes a img{
    width: 500px;
    height: 500px;
}
main h2{
    margin-left: 147px;
    font-size: 1.5rem;
    font-weight: 600;
}

/* @media only screen and (max-width: 768px) {
    .products {
      flex-direction: column;
    }
  }  */


footer{
    background-color: #666666;
    color: #ffffff;
    padding: 30px 0;
}
.col-md-4 h3{
    font-size: 1.3rem;
    margin-bottom: 20px;
}
.footer_support ul{
    list-style-type: none;
    padding: 0;
    line-height: 2.4;
    margin-top: -5px;
}
.footer_support ul li a{
    color: #ffffff;
    text-decoration: none;
}
.footer_support ul li a:hover{
    color: #dbdbdb;
    text-decoration: underline;
}
.footer_place{
    margin-top: 25px;
}